<%= require('./html-includes/header.html')() %>

<header class="header">
  <a href="javascript:;" class="header-logo btn btn-text max-sm:mr-auto">
    <img src="img/logo.png" alt="" class="dark:hidden">
    <img src="img/logo-white.png" alt="" class="hidden dark:block">
  </a>

  <div class="flex gap-12.5 max-lg:hidden">
    <c-menu>
      <c-menu-button class="btn hover-underline btn-text btn-default relative gap-1">
        <div class="absolute -inset-3 lg:-inset-6"></div>
        <span class="text-sm">Направления деятельности</span>
        <c-icon class="icon opacity-70 group-[.active]:-rotate-90 text-xs" href="/img/icons.svg#to-right"></c-icon>
      </c-menu-button>
      <c-menu-items class="p-2 max-md:py-6 w-64 rounded-none">
        <c-menu-item>
          <a href="/#about" data-scroll class="btn btn-sm btn-primary rounded-md px-2" data-toggle-link>
            <span class="font-normal w-full text-default text-sm">Направление деятельности</span>
          </a>
        </c-menu-item>
        <c-menu-item>
          <a href="/#about" data-scroll class="btn btn-sm btn-primary rounded-md px-2" data-toggle-link>
            <span class="font-normal w-full text-default text-sm">Дополнительные возможности</span>
          </a>
        </c-menu-item>
    </c-menu>

    <a href="javascript:;" class="btn hover-underline btn-text btn-default relative" data-scroll="#examples">
      <span class="text-sm">Портфолио</span>
      <div class="absolute -inset-6"></div>
    </a>
    <a href="javascript:;" class="btn hover-underline btn-text btn-default relative" data-scroll="#review">
      <span class="text-sm">Отзывы</span>
      <div class="absolute -inset-6"></div>
    </a>

    <c-menu>
      <c-menu-button class="btn hover-underline btn-text btn-default relative gap-1">
        <div class="absolute -inset-3 lg:-inset-6"></div>
        <span class="text-sm">О нас</span>
        <c-icon class="icon opacity-70 group-[.active]:-rotate-90 text-xs" href="/img/icons.svg#to-right"></c-icon>
      </c-menu-button>
      <c-menu-items class="p-2 max-md:py-6 w-64 rounded-none" placement="bottom">
        <c-menu-item>
          <a href="/#about" data-scroll class="btn btn-sm btn-primary rounded-md px-2" data-toggle-link>
            <span class="font-normal w-full text-default text-sm">О компании</span>
          </a>
        </c-menu-item>
        <c-menu-item>
          <a href="/#about" data-scroll class="btn btn-sm btn-primary rounded-md px-2" data-toggle-link>
            <span class="font-normal w-full text-default text-sm">Вакансии </span>
          </a>
        </c-menu-item>
        <c-menu-item>
          <a href="/#about" data-scroll class="btn btn-sm btn-primary rounded-md px-2" data-toggle-link>
            <span class="font-normal w-full text-default text-sm">Сертификаты и лецензии </span>
          </a>
        </c-menu-item>
    </c-menu>
    <a href="javascript:;" class="btn hover-underline btn-text btn-default relative" data-scroll="#contact">
      <span class="text-sm">Контакты</span>
      <div class="absolute -inset-6"></div>
    </a>

  </div>

  <a href="javascript:;" class="btn btn-text btn-default max-sm:hidden hover-underline">
    <span class="text-xl font-bold font-alt">8 918 000 00 00</span>
    <div class="absolute -inset-6"></div>
  </a>

  <a href="javascript:;" class="btn btn-default btn-contur rounded-full btn-icon sm:hidden max-sm:btn-sm">
    <c-icon class="icon " href="img/icons.svg#phone"></c-icon>
  </a>
  <button class="btn btn-default btn-contur rounded-full px-4 max-sm:btn-sm" data-fancybox-modal data-src="dialog-form.html">
    <span class="font-alt max-xs:text-xs">Связаться с нами</span>
  </button>
</header>

<section class="started">
  <div class="started-image">
    <img src="img/started.jpg" alt="" class="absolute-fit object-cover">
  </div>
  <div class="started-shadow"></div>
  <div class="started-content">
    <div class="lg:w-1/2">
      <div class="started-title" data-animation="fadeInUp">
        Архитектурное
        проектирование
      </div>
      <!-- <div class="flex" data-animation="fadeInUp">
        <button class="btn btn-white btn-contur rounded-full px-6 gap-1">
          <span class="font-alt">Подробнее</span>
          <c-icon class="icon text-xl" href="img/icons.svg#arrow-right"></c-icon>
        </button>
      </div> -->
    </div>
    <div class="border border-white/40 p-4 sm:p-6 w-full lg:w-1/2" data-animation="fadeInUp">
      <div class="leading-normal max-lg:text-sm text-2xl">
        Качественное проектирование - залог <br>
        успешного строительства
      </div>
    </div>
  </div>

</section>

<!-- О нас -->
<section class="description p-section overflow-hidden" id="about">
  <div class="title mb-8 sm:mb-10" data-animation="fadeInUp">О нас</div>
  <div class="mb-6 sm:mb-12 grid md:grid-cols-3 gap-3 sm:gap-7">
    <div class="border border-dashed border-default/10 px-4 sm:px-6 py-8">
      <div class="text-4xl sm:text-5xl font-alt2 opacity-60">
        10+ лет
      </div>
      <div class="sm:text-lg sm:mt-4">в проектировании</div>
    </div>
    <div class="border border-dashed border-default/10 px-4 sm:px-6 py-8">
      <div class="text-4xl sm:text-5xl font-alt2 opacity-60">
        30+
      </div>
      <div class="sm:text-lg sm:mt-4">Количество сотрудников</div>
    </div>
    <div class="border border-dashed border-default/10 px-4 sm:px-6 py-8">
      <div class="text-4xl sm:text-5xl font-alt2 opacity-60">
        1000+
      </div>
      <div class="sm:text-lg sm:mt-4">Количество реализованных проектов</div>
    </div>
  </div>
  <div class="grid lg:grid-cols-2 items-center gap-6 lg:gap-16 relative z-[1]">
    <div>
      <div class="ratio ratio-[600/450]" data-animation="fadeInUp">
        <img src="img/description.jpg" alt="" class="absolute-fit">
      </div>
    </div>
    <div class="description-content text-default/80 relative max-sm:text-sm" data-animation="fadeInUp">
      <span class="font-alt text-base sm:text-xl text-default">Компания «Капитель»</span> — это проектная организация, специализирующаяся на архитектурном проектировании зданий, сооружений и объектов инфраструктуры. Они предлагают широкий спектр услуг, включая проведение изысканий, сбор ИРД, разработку проектной документации, получение разрешения на строительство.
      <br><br>
      <span class="font-alt text-lg sm:text-2xl text-default">
        Превращаем идеи в реальность: <br>
        архитектурное проектирование для жизни
      </span>
      <br><br>
      Основные виды деятельности компании включают разработку проектов жилых домов, общественных зданий, производственных сооружений, городских территорий, дорог и инженерных сетей. Также они предоставляют услуги по разработке эскизных проектов, предварительных архитектурных и объёмно-планировочных решений, проектной документации и рабочего проекта.


    </div>
  </div>

  <!-- <div class="flex lg:items-center max-lg:flex-col mt-6 lg:mt-11 gap-6 lg:gap-18 lg:pl-6">
    <div class="text-lg sm:text-2xl font-alt" data-animation="fadeInUp">Архитекторы, дизайнеры, строители</div>
    <div class="relative">
      <div class="description-info" data-animation="fadeInUp">
        <div class="text-lg sm:text-2xl font-alt">Более 10 специалистов в команде</div>
      </div>
      <div class="description-line max-lg:hidden" data-animation="fadeIn"></div>
    </div>
  </div> -->
</section>

<!-- Преимущества -->
<section class="advantages p-section">
  <div class="title mb-8 sm:mb-12" data-animation="fadeInUp">Преимущества</div>
  <div class="grid lg:grid-cols-5">
    <div class="advantages-item" data-animation="fadeInUp">
      <div class="advantages-item-image">
        <c-icon class="icon" href="img/icons.svg#case"></c-icon>
      </div>
      <div class="advantages-item-content">
        <div class="sm:text-2xl font-alt lg:mb-12">
          Более 10 лет
          опыта
        </div>
        <div class="text-xs sm:text-sm max-lg:opacity-80">
          Большой профессиональный
          опыт проектирования
          и строительства домов
        </div>
      </div>
    </div>
    <div class="advantages-item" data-animation="fadeInUp" data-delay="0.1">
      <div class="advantages-item-image">
        <c-icon class="icon" href="img/icons.svg#building"></c-icon>
      </div>
      <div class="advantages-item-content">
        <div class="sm:text-2xl font-alt lg:mb-12">
          Архитектура
          во всем
        </div>
        <div class="text-xs sm:text-sm max-lg:opacity-80">
          Совмещаем современную
          архитектуру и дизайн
          интерьера в единую
          композицию
        </div>
      </div>
    </div>
    <div class="advantages-item" data-animation="fadeInUp" data-delay="0.2">
      <div class="advantages-item-image">
        <c-icon class="icon" href="img/icons.svg#ruler"></c-icon>
      </div>
      <div class="advantages-item-content">
        <div class="sm:text-2xl font-alt lg:mb-12">
          Точность
          в реализации
        </div>
        <div class="text-xs sm:text-sm max-lg:opacity-80">
          Более 100 выполненных
          работ, от проекта до полной
          реализации
        </div>
      </div>
    </div>
    <div class="advantages-item" data-animation="fadeInUp" data-delay="0.3">
      <div class="advantages-item-image">
        <c-icon class="icon" href="img/icons.svg#key-square"></c-icon>
      </div>
      <div class="advantages-item-content">
        <div class="sm:text-2xl font-alt lg:mb-12">
          Работаем
          "под ключ"
        </div>
        <div class="text-xs sm:text-sm max-lg:opacity-80">
          Оказываем полный цикл
          услуг по архитектурному
          и дизайнерскому
          проектированию
          до полной реализации
        </div>
      </div>
    </div>
    <div class="advantages-item" data-animation="fadeInUp" data-delay="0.4">
      <div class="advantages-item-image">
        <c-icon class="icon" href="img/icons.svg#crop"></c-icon>
      </div>
      <div class="advantages-item-content">
        <div class="sm:text-2xl font-alt lg:mb-12">
          Меньше значит
          больше
        </div>
        <div class="text-xs sm:text-sm max-lg:opacity-80">
          Целостность пространства
          в простоте геометрических
          форм
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Примеры работ -->
<section class="examples p-section overflow-hidden" data-tab-cover id="examples">
  <div class="title mb-8 sm:mb-12" data-animation="fadeInUp">Примеры работ</div>
  <div class="examples-tabs " data-animation="fadeInUp">
    <div class="examples-tab" data-tab-link="0">Все работы</div>
    <div class="examples-tab" data-tab-link="1">Жилые здания</div>
    <div class="absolute bottom-0 h-px bg-default transition-all" data-tab-plate></div>
  </div>
  <div class="examples-tabs-line"></div>

  <div class="tab-content-cover mt-6 sm:mt-12" data-animation="fadeInUp">
    <% for(let i = 0; i < 2; i++) { %>
    <div class="tab-content !overflow-visible" data-tab-content="<%= i %>">
      <div class="grid grid-cols-2 md:grid-cols-3 gap-3 sm:gap-7">
        <% for(let i = 0; i < 6; i++) { %>
        <div class="examples-item">
          <div class="ratio ratio-[390/234] bg-default/10">
            <img src="img/test.jpg" alt="" class="absolute-fit object-cover">
          </div>
        </div>
        <% } %>
      </div>
      <!-- <div class="relative examples-slider">
        <div class="swiper -mx-2 sm:-mx-5 overflow-visible ">
          <div class="swiper-wrapper">
            <% for(let ii = 0; ii < 5; ii++) { %>
            <div class="swiper-slide px-2 sm:px-5 w-11/12 sm:w-10/12 md:w-full">
              <div class="examples-item">
                <div class="ratio ratio-[1230/668] bg-default/10">
                  <img src="img/test.jpg" alt="" class="absolute-fit object-cover">
                </div>
                <div class="mt-5 flex sm:items-center gap-2 lg:gap-30 max-sm:flex-col">
                  <div class="flex items-center gap-3 lg:gap-30 max-sm:justify-between max-sm:text-sm">
                    <div class="">Медцентр</div>
                  </div>
                  <div class="flex gap-4 lg:gap-30">
                    <div class="opacity-60">200 м<sup>2</sup></div>
                    <div class="opacity-60">От 50 000 000 ₽</div>
                  </div>
                  <button class="btn btn-default btn-contur px-6 gap-1 rounded-full sm:ml-auto">
                    <c-icon class="icon text-xl" href="img/icons.svg#download"></c-icon>
                    <span class="font-alt font-medium">Скачать проект</span>
                  </button>
                </div>
              </div>
            </div>
            <% } %>
          </div>
        </div>

        <div class="absolute right-0 md:-right-10 z-[2] top-0 mt-[25%] max-lg:hidden">
          <button class="btn btn-icon btn-l3 btn-fill md:btn-xl rounded-full examples-slider-prev">
            <c-icon class="icon text-xl md:text-3.5xl text-black" href="img/icons.svg#arrow-right-alt"></c-icon>
          </button>
        </div>
      </div> -->
    </div>
    <% } %>
  </div>


  <div class="examples-line mt-5"></div>
</section>
<!-- <script>
  document.querySelectorAll('.examples-slider').forEach((el) => {
    new Swiper(el.querySelector('.examples-slider>.swiper'), {
      slidesPerView: 'auto',
      centeredSlides: true,
      loop: true,
      navigation: {
        nextEl: el.querySelector('.examples-slider-prev')
      }
    })

  })
</script> -->

<!-- Как мы работаем -->
<section class="howwork p-section overflow-hidden">
  <div class="title mb-8 sm:mb-12" data-animation="fadeInUp">Как мы работаем</div>

  <div class="grid lg:grid-cols-5">
    <div class="howwork-item" data-animation="fadeInUp">
      <div class="howwork-item-image absolute-fit">
        <img src="img/step/1.jpg" alt="" class="absolute-fit">
      </div>
      <div class="howwork-item-content">
        <div class="text-5xl opacity-60">
          1
        </div>
        <div class="font-alt text-lg sm:text-2xl howwork-item-title">
          Встреча
          и обсуждение
          техзадания
        </div>
        <div class="howwork-item-description">
          На встрече обсуждаются
          и согласовываются основные
          моменты технического
          задания, такие как цели,
          задачи и сроки выполнения
        </div>
      </div>
    </div>
    <div class="howwork-item" data-animation="fadeInUp" data-delay="0.1">
      <div class="howwork-item-image absolute-fit">
        <img src="img/step/2.jpg" alt="" class="absolute-fit">
      </div>
      <div class="howwork-item-content">
        <div class="text-5xl opacity-60">
          2
        </div>
        <div class="font-alt text-lg sm:text-2xl howwork-item-title">
          Заключение
          договора
          с клиентом
        </div>
        <div class="howwork-item-description">
          Процесс согласования
          и подписания документа,
          который устанавливает
          взаимные права
          и обязанности сторон
        </div>
      </div>
    </div>
    <div class="howwork-item" data-animation="fadeInUp" data-delay="0.2">
      <div class="howwork-item-image absolute-fit">
        <img src="img/step/3.jpg" alt="" class="absolute-fit">
      </div>
      <div class="howwork-item-content">
        <div class="text-5xl opacity-60">
          3
        </div>
        <div class="font-alt text-lg sm:text-2xl howwork-item-title">
          Эскизный
          проект с 3D
          визуализацией
        </div>
        <div class="howwork-item-description">
          Предварительный набросок
          будущего сооружения,
          выполненный в трёхмерном
          виде с использованием
          компьютерной графики
        </div>
      </div>
    </div>
    <div class="howwork-item" data-animation="fadeInUp" data-delay="0.3">
      <div class="howwork-item-image absolute-fit">
        <img src="img/step/4.jpg" alt="" class="absolute-fit">
      </div>
      <div class="howwork-item-content">
        <div class="text-5xl opacity-60">
          4
        </div>
        <div class="font-alt text-lg sm:text-2xl howwork-item-title">
          Разработка
          проекта
        </div>
        <div class="howwork-item-description">
          Детальный план, который
          включает в себя чертежи,
          спецификации материалов,
          технические решения
          и другую документацию
        </div>
      </div>
    </div>
    <div class="howwork-item" data-animation="fadeInUp" data-delay="0.4">
      <div class="howwork-item-image absolute-fit">
        <img src="img/step/5.jpg" alt="" class="absolute-fit">
      </div>
      <div class="howwork-item-content">
        <div class="text-5xl opacity-60">
          5
        </div>
        <div class="font-alt text-lg sm:text-2xl howwork-item-title">
          Авторский
          надзор
          за выполнением
        </div>
        <div class="howwork-item-description">
          Контроль за соблюдением
          требований этой
          документации, технических
          характеристик
          и художественных замыслов
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Направления деятельности -->
<section class="activity p-section section-lines" id="service">
  <div class="title mb-8 sm:mb-12" data-animation="fadeInUp">Направления деятельности</div>

  <div class="activity-grid">
    <div class="activity-item btn-group group" data-animation="fadeInUp">
      <div class="activity-item-placeholder"></div>
      <div class="activity-item-image">
        <img src="/img/activity/1/preview.jpg" alt="" class="absolute-fit object-cover">
        <div class="activity-item-shadow"></div>
      </div>
      <div class="activity-item-content">
        <div class="flex items-center">
          <div class="text-lg sm:text-2xl font-alt">Жилые здания</div>
          <button class="btn btn-icon btn-primary ml-auto rounded-lg btn-sm">
            <c-icon class="icon text-2xl text-default opacity-30 group-hover:opacity-80 transition-opacity" href="img/icons.svg#arrow-right"></c-icon>
          </button>
        </div>
      </div>
      <div class="activity-item-hidden">
        <div class="text-lg sm:text-2xl font-alt">Жилые здания</div>
        <div class="mt-6">
          Создание проектной документации
          для частных жилых домов
        </div>
        <button class="btn btn-default btn-whitebg rounded-full px-6 gap-1 mt-auto">
          <span class="font-alt">Подробнее</span>
          <c-icon class="icon text-xl" href="img/icons.svg#arrow-right"></c-icon>
        </button>
      </div>
    </div>
    <div class="activity-item btn-group group" data-animation="fadeInUp">
      <div class="activity-item-placeholder"></div>
      <div class="activity-item-image">
        <img src="/img/activity/2/preview.jpg" alt="" class="absolute-fit object-cover">
        <div class="activity-item-shadow"></div>
      </div>
      <div class="activity-item-content">
        <div class="flex items-center">
          <div class="text-lg sm:text-2xl font-alt">Коммерческие здания</div>
          <button class="btn btn-icon btn-primary ml-auto rounded-lg btn-sm">
            <c-icon class="icon text-2xl text-default opacity-30 group-hover:opacity-80 transition-opacity" href="img/icons.svg#arrow-right"></c-icon>
          </button>
        </div>
      </div>
      <div class="activity-item-hidden">
        <div class="text-lg sm:text-2xl font-alt">Коммерческие здания</div>
        <div class="mt-6">
          Создание проектов для офисов, магазинов, ресторанов
          и других объектов, предназначенных для коммерческой деятельности
        </div>
        <button class="btn btn-default btn-whitebg rounded-full px-6 gap-1 mt-auto">
          <span class="font-alt">Подробнее</span>
          <c-icon class="icon text-xl" href="img/icons.svg#arrow-right"></c-icon>
        </button>
      </div>
    </div>
    <div class="activity-item btn-group group" data-animation="fadeInUp">
      <div class="activity-item-placeholder"></div>
      <div class="activity-item-image">
        <img src="/img/activity/3/preview.jpg" alt="" class="absolute-fit object-cover">
        <div class="activity-item-shadow"></div>
      </div>
      <div class="activity-item-content">
        <div class="flex items-center">
          <div class="text-lg sm:text-2xl font-alt">Благоустройство</div>
          <button class="btn btn-icon btn-primary ml-auto rounded-lg btn-sm">
            <c-icon class="icon text-2xl text-default opacity-30 group-hover:opacity-80 transition-opacity" href="img/icons.svg#arrow-right"></c-icon>
          </button>
        </div>
      </div>

      <div class="activity-item-hidden">
        <div class="text-lg sm:text-2xl font-alt">Благоустройство</div>
        <div class="mt-6">
          Cоздание гармонии в парках, скверах
          и на частных территориях
        </div>
        <button class="btn btn-default btn-whitebg rounded-full px-6 gap-1 mt-auto">
          <span class="font-alt">Подробнее</span>
          <c-icon class="icon text-xl" href="img/icons.svg#arrow-right"></c-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="sm:grid sm:grid-cols-2 ">

    <div class="activity-item btn-group group" data-animation="fadeInUp">
      <div class="activity-item-placeholder"></div>
      <div class="activity-item-image">
        <img src="/img/activity/4/preview.jpg" alt="" class="absolute-fit object-cover">
        <div class="activity-item-shadow"></div>
      </div>
      <div class="activity-item-content">
        <div class="flex items-center">
          <div class="text-lg sm:text-2xl font-alt">Складские и производственные здания</div>
          <button class="btn btn-icon btn-primary ml-auto rounded-lg btn-sm">
            <c-icon class="icon text-2xl text-default opacity-30 group-hover:opacity-80 transition-opacity" href="img/icons.svg#arrow-right"></c-icon>
          </button>
        </div>
      </div>
      <div class="activity-item-hidden">
        <div class="text-lg sm:text-2xl font-alt">Складские и производственные здания</div>
        <div class="mt-6">
          Разработка конструктивных, объёмно-планировочных
          и инженерных решений, обеспечивающих эффективное
          использование складских пространств
        </div>
        <button class="btn btn-default btn-whitebg rounded-full px-6 gap-1 mt-auto">
          <span class="font-alt">Подробнее</span>
          <c-icon class="icon text-xl" href="img/icons.svg#arrow-right"></c-icon>
        </button>
      </div>
    </div>
    <div class="activity-item btn-group group" data-animation="fadeInUp">
      <div class="activity-item-placeholder"></div>
      <div class="activity-item-image">
        <img src="/img/activity/4/preview.jpg" alt="" class="absolute-fit object-cover">
        <div class="activity-item-shadow"></div>
      </div>
      <div class="activity-item-content">
        <div class="flex items-center">
          <div class="text-lg sm:text-2xl font-alt">Документация по планировке территории</div>
          <button class="btn btn-icon btn-primary ml-auto rounded-lg btn-sm">
            <c-icon class="icon text-2xl text-default opacity-30 group-hover:opacity-80 transition-opacity" href="img/icons.svg#arrow-right"></c-icon>
          </button>
        </div>
      </div>
      <div class="activity-item-hidden">
        <div class="text-lg sm:text-2xl font-alt">Документация по планировке территории</div>
        <div class="mt-6">
          Разработка документации, обеспечивающих эффективное
          использование складских пространств
        </div>
        <button class="btn btn-default btn-whitebg rounded-full px-6 gap-1 mt-auto">
          <span class="font-alt">Подробнее</span>
          <c-icon class="icon text-xl" href="img/icons.svg#arrow-right"></c-icon>
        </button>
      </div>
    </div>
  </div>
</section>

<!-- Дополнительные возможности -->
<section class="extended p-section">
  <div class="title mb-8 sm:mb-10" data-animation="fadeInUp">Дополнительные возможности</div>

  <div class="extended-grid" data-animation="fadeInUp">
    <a href="javascript:;" class="extended-item lg:row-span-2">
      <div class="extended-item-image absolute-fit">
        <img src="img/extended/1.jpg" alt="" class="absolute-fit object-cover">
      </div>
      <div class="extended-item-shadow absolute-fit"></div>
      <div class="extended-item-shadow-1 absolute-fit"></div>
      <div class="extended-item-content">
        <div class="text-2xl font-alt">
          Получение разрешения <br>
          на строительство
        </div>
      </div>
      <div class="extended-item-hidden absolute-fit">
        <div class="text-2xl font-alt">
          Получение разрешения <br>
          на строительство
        </div>

        <div class="mt-3 text-sm">
          Получение документа, удостоверяющего право собственника, владельца, арендатора или пользователя объекта недвижимости осуществить застройку земельного участка, строительство, реконструкцию здания, строения и сооружения, благоустройство территории.
        </div>

        <button class="btn btn-default btn-whitebg rounded-full px-6 gap-1 mt-3 shrink-0">
          <span class="font-alt">Заказать услугу</span>
          <c-icon class="icon text-xl" href="img/icons.svg#arrow-right"></c-icon>
        </button>
      </div>
    </a>
    <a href="javascript:;" class="extended-item">
      <div class="extended-item-image absolute-fit">
        <img src="img/extended/2.jpg" alt="" class="absolute-fit object-cover">
      </div>
      <div class="extended-item-shadow absolute-fit"></div>
      <div class="extended-item-content">
        <div class="text-2xl font-alt">
          Геодезия
        </div>
      </div>
    </a>
    <a href="javascript:;" class="sm:p-4 sm:border sm:border-default/15">
      <div class="extended-item size-full">
        <div class="extended-item-image absolute-fit">
          <img src="img/extended/3.jpg" alt="" class="absolute-fit object-cover">
        </div>
        <div class="extended-item-shadow absolute-fit"></div>
        <div class="extended-item-content">
          <div class="text-2xl font-alt">
            Геология
          </div>
        </div>
      </div>
    </a>
  </div>
</section>

<!-- <section class="about">
  <div class="about-left">
    <div class="about-image ratio ratio-[414/500]">
      <img src="img/about.jpg" alt="" class="absolute-fit object-cover " data-animation="fadeInUp">

      <div class="absolute w-full top-full left-0 flex mt-3 max-sm:text-xs" data-animation="fadeInUp">
        <div class="font-alt">Андрей Капительев</div>
        <div class="opacity-50 ml-auto">Главный архитектор</div>
      </div>
    </div>

  </div>
  <div class="about-content text-default/80 relative max-sm:text-sm">
    <div class="font-alt absolute text-[128px] top-0 max-lg:right-full lg:left-0 leading-none opacity-20" data-animation="fadeInUp">“</div>
    <div data-animation="fadeInUp">
      <span class="font-alt text-base sm:text-xl text-default">Компания «Капитель»</span> — это проектная организация, специализирующаяся на архитектурном проектировании зданий, сооружений и объектов инфраструктуры. Они предлагают широкий спектр услуг, включая проведение изысканий, сбор ИРД, разработку проектной документации, получение разрешения на строительство.
      <br><br>
      <span class="font-alt text-lg sm:text-2xl text-default">
        Превращаем идеи в реальность: <br>
        архитектурное проектирование для жизни
      </span>
      <br><br>
      Основные виды деятельности компании включают разработку проектов жилых домов, общественных зданий, производственных сооружений, городских территорий, дорог и инженерных сетей. Также они предоставляют услуги по разработке эскизных проектов, предварительных архитектурных и объёмно-планировочных решений, проектной документации и рабочего проекта.
    </div>
    <img src="img/about-sign.png" alt="" class="mt-10" data-animation="fadeInUp">
  </div>
</section> -->

<!-- <section class="video section-lines" data-tab-cover>
  <div class="absolute-fit">
    <div class="tab-content absolute-fit flex items-center justify-center !transform-none" data-tab-content="1">
      <div class="video-image">
        <img src="img/video.jpg" alt="" class="absolute-fit object-cover">
      </div>
      <div class="absolute-fit bg-black/50"></div>

      <a href="javascript:;" class="video-button btn btn-icon btn-white btn-contur">
        <c-icon class="icon" href="img/icons.svg#play"></c-icon>
      </a>
    </div>
    <div class="tab-content absolute-fit flex items-center justify-center !transform-none" data-tab-content="2">
      <div class="video-image">
        <img src="img/test.jpg" alt="" class="absolute-fit object-cover">
      </div>
      <div class="absolute-fit bg-black/50"></div>

      <a href="javascript:;" class="video-button btn btn-icon btn-white btn-contur">
        <c-icon class="icon" href="img/icons.svg#play"></c-icon>
      </a>
    </div>
    <div class="tab-content absolute-fit flex items-center justify-center !transform-none" data-tab-content="3">
      <div class="video-image">
        <img src="img/video.jpg" alt="" class="absolute-fit object-cover">
      </div>
      <div class="absolute-fit bg-black/50"></div>

      <a href="javascript:;" class="video-button btn btn-icon btn-white btn-contur">
        <c-icon class="icon" href="img/icons.svg#play"></c-icon>
      </a>
    </div>
  </div>

  <div class="video-nav flex max-sm:flex-col gap-3 sm:gap-8 lg:gap-28 relative lg:px-24" data-animation="fadeInUp">
    <a href="javascript:;" class="btn btn-white btn-text hover-underline" data-tab-link="1">
      <div class="opacity-60">Видео о нас</div>
      <div class="absolute sm:-inset-4 lg:-inset-12"></div>
    </a>
    <a href="javascript:;" class="btn btn-white btn-text hover-underline" data-tab-link="2">
      <div class="opacity-60">Капитель </div>
      <div class="absolute sm:-inset-4 lg:-inset-12"></div>
    </a>
    <a href="javascript:;" class="btn btn-white btn-text hover-underline" data-tab-link="3">
      <div class="opacity-60">Архитектурно-проектное бюро </div>
      <div class="absolute sm:-inset-4 lg:-inset-12"></div>
    </a>
  </div>
</section> -->

<!-- Наши кейсы -->
<!-- <section class="case p-section section-lines overflow-hidden">
  <div class="title mb-8 sm:mb-10" data-animation="fadeInUp">Наши кейсы</div>

  <div class="case-slider relative" data-animation="fadeInUp">
    <div class="swiper -mx-2 sm:-mx-4.5 max-lg:overflow-visible">
      <div class="swiper-wrapper">
        <% for(let i = 0; i < 10; i++) { %>

        <div class="swiper-slide px-2 sm:px-4.5 w-11/12 xs:w-10/12 lg:w-1/2">
          <div class="case-item relative group">
            <div class="ratio ratio-[600/330]">
              <div class="absolute-fit">
                <img src="img/test.jpg" alt="" class="absolute-fit">

                <div class="absolute left-4 top-4 bg-black/70 text-white p-2 font-alt leading-none">
                  Было
                </div>
              </div>
              <div class="absolute-fit opacity-0 group-hover:opacity-100 transition">
                <img src="img/test.jpg" alt="" class="absolute-fit">

                <div class="absolute left-4 top-4 bg-black/70 text-white p-2 font-alt leading-none">
                  Стало
                </div>
              </div>
            </div>
            <div class="case-item-content">
              <div class="text-xl sm:text-2xl font-alt">Благоустройство парка в Геленджике</div>
              <div class="opacity-60 mt-2 max-sm:text-sm">
                Процесс создания комфортной и привлекательной среды
                для отдыха всей семьей
              </div>
              <button class="btn btn-default btn-contur rounded-full px-6 gap-1 mt-5">
                <span class="font-alt">Подробнее</span>
                <c-icon class="icon text-xl" href="img/icons.svg#arrow-right"></c-icon>
              </button>
            </div>
          </div>
        </div>
        <% } %>
      </div>
    </div>


    <div class="absolute right-full mr-6 z-[2] top-1/2 -translate-y-1/2 max-xl:hidden">
      <button class="btn btn-icon btn-white btn-contur md:btn-xl rounded-full case-slider-prev">
        <c-icon class="icon text-xl md:text-3.5xl " href="img/icons.svg#arrow-left-alt"></c-icon>
      </button>
    </div>

    <div class="absolute left-full ml-6 z-[2] top-1/2 -translate-y-1/2 max-xl:hidden">
      <button class="btn btn-icon btn-white btn-contur md:btn-xl rounded-full case-slider-next">
        <c-icon class="icon text-xl md:text-3.5xl " href="img/icons.svg#arrow-right-alt"></c-icon>
      </button>
    </div>
  </div>
  <div class="relative mt-14" data-animation="fadeInUp">
    <div class="case-pagination absolute"></div>
  </div>
</section>
<script>
  new Swiper('.case-slider>.swiper', {
    slidesPerView: 'auto',
    centeredSlides: true,
    loop: true,
    breakpoints: {
      [1199.98]: {
        centeredSlides: false,

      }
    },
    navigation: {
      prevEl: '.case-slider-prev',
      nextEl: '.case-slider-next',
    },
    pagination: {
      el: '.case-pagination',
      dynamicBullets: true,
      clickable: true
    }
  })
</script> -->


<div class="border-t border-dashed border-default/15"></div>

<!-- Вопрос-ответ -->
<section class="question p-section">
  <div class="title mb-8 sm:mb-10" data-animation="fadeInUp">Вопрос-ответ</div>

  <% for(let i = 0; i < 5; i++) { %>
  <div class="question-item border-t border-default/15 group" data-toggle-cover data-animation="fadeInUp">
    <button class="flex items-center gap-4 btn-group w-full py-5" data-toggle-link>
      <c-icon class="icon text-2xl opacity-30" href="img/icons.svg#question-circle"></c-icon>
      <div class="sm:text-2xl font-alt text-left">Как проходит сотрудничество с нашим бюро?</div>

      <div class="btn btn-icon btn-primary ml-auto rounded-xl">
        <div class="relative size-4">
          <div class="w-4 h-1 bg-primary rounded-full absolute left-0 top-1.5"></div>
          <div class="w-1 h-4 bg-primary rounded-full absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2  transition-all group-[.toggle-active]:w-4 group-[.toggle-active]:h-1"></div>
        </div>
      </div>
    </button>
    <div class="opacity-80 pb-5 xs:pl-10 is-active-enabled max-sm:text-sm" data-toggle-content data-toggle-static>
      Авторский надзор — это контроль лица, подготовившего проектную документацию, за соблюдением требований этой документации, технических
      характеристик и художественных замыслов в процессе строительства объекта. Он нужен для обеспечения качества строительства, соблюдения
      всех норм и стандартов, а также для контроля за реализацией архитектурных и дизайнерских решений.
    </div>
  </div>
  <% } %>
</section>

<!-- Нам доверяют -->
<section class="reviews p-section overflow-hidden" id="review">
  <div class="title mb-8 sm:mb-10" data-animation="fadeInUp">Нам доверяют</div>


  <div class="reviews-slider relative" data-animation="fadeInUp">
    <div class="swiper -mx-2 sm:-mx-4.5 max-lg:overflow-visible">
      <div class="swiper-wrapper">
        <% for(let i = 0; i < 10; i++) { %>

        <div class="swiper-slide px-2 sm:px-4.5 w-11/12 xs:w-10/12 lg:w-1/3">
          <div class="reviews-item relative">
            <div class="size-12 rounded-full relative flex mb-6 overflow-hidden" style="background:#F285AA; color: #fff;">
              <div class="text-2xl font-alt m-auto">A</div>
              <!-- <img src="img/test.jpg" alt="" class="absolute-fit object-cover"> -->
            </div>
            <div class="text-2xl font-alt mb-2">Александр Р.</div>
            <div class="flex gap-0.5 mb-3">
              <c-icon class="icon text-yellow" href="img/icons.svg#star"></c-icon>
              <c-icon class="icon text-yellow" href="img/icons.svg#star"></c-icon>
              <c-icon class="icon text-yellow" href="img/icons.svg#star"></c-icon>
              <c-icon class="icon text-yellow" href="img/icons.svg#star"></c-icon>
              <c-icon class="icon text-yellow" href="img/icons.svg#star"></c-icon>
            </div>

            <div class="opacity-60 mt-2 max-sm:text-sm line-clamp-6">
              Архитектурно-проектное бюро успешно
              работает более 11 лет, занимаясь
              проектированием промышленных,
              офисных и жилых зданий, дизайном
              офисов, магазинов и ресторанов,
              проектированием коттеджей
              и ландшафтной архитектурой...
            </div>
            <button class="btn btn-default btn-contur rounded-full px-6 gap-1 mt-5">
              <span class="font-alt">Подробнее</span>
              <c-icon class="icon text-xl" href="img/icons.svg#arrow-right"></c-icon>
            </button>

          </div>
        </div>
        <% } %>
      </div>
    </div>


    <div class="absolute right-full mr-6 z-[2] top-1/2 -translate-y-1/2 max-xl:hidden">
      <button class="btn btn-icon btn-white btn-contur md:btn-xl rounded-full reviews-slider-prev">
        <c-icon class="icon text-xl md:text-3.5xl " href="img/icons.svg#arrow-left-alt"></c-icon>
      </button>
    </div>

    <div class="absolute left-full ml-6 z-[2] top-1/2 -translate-y-1/2 max-xl:hidden">
      <button class="btn btn-icon btn-white btn-contur md:btn-xl rounded-full reviews-slider-next">
        <c-icon class="icon text-xl md:text-3.5xl " href="img/icons.svg#arrow-right-alt"></c-icon>
      </button>
    </div>
  </div>
  <div class="relative mt-14" data-animation="fadeInUp">
    <div class="reviews-pagination absolute"></div>
  </div>
</section>
<script>
  new Swiper('.reviews-slider>.swiper', {
    slidesPerView: 'auto',
    centeredSlides: true,
    loop: true,
    breakpoints: {
      [1199.98]: {
        centeredSlides: false,

      }
    },
    navigation: {
      prevEl: '.reviews-slider-prev',
      nextEl: '.reviews-slider-next',
    },
    pagination: {
      el: '.reviews-pagination',
      dynamicBullets: true,
      clickable: true
    }
  })
</script>

<!-- Сертификаты и лицензии -->
<section class="cert p-section overflow-hidden bg-l2" id="cert">
  <div class="title mb-5 sm:mb-10">
    Сертификаты и лицензии
  </div>
  <div class="mb-12 max-sm:text-sm">
    Сертификаты и лицензии нужны для подтверждения соответствия продукции, работ, услуг и процессов установленным нормам и требованиям, они обеспечивают: повышение доверия к бренду и улучшение репутации, возможность участвовать в госзакупках и коммерческих тендерах, защиту рынка от недобросовестных лиц и опасных продуктов.
  </div>

  <div class="cert-slider relative" data-animation="fadeInUp">
    <div class="swiper -mx-2 sm:-mx-4.5 max-lg:overflow-visible">
      <div class="swiper-wrapper">
        <% for(let i = 0; i < 10; i++) { %>

        <div class="swiper-slide px-2 sm:px-4.5 w-11/12 xs:w-10/12 lg:w-1/3">
          <a href="img/test.jpg" data-fancybox="cert" class="cert-item relative">
            <div class="ratio ratio-[390/552]">
              <img src="img/test.jpg" alt="" class="absolute-fit object-cover">
            </div>
          </a>
        </div>
        <% } %>
      </div>
    </div>


    <div class="absolute right-full mr-6 z-[2] top-1/2 -translate-y-1/2 max-xl:hidden">
      <button class="btn btn-icon btn-primary btn-contur md:btn-xl rounded-full cert-slider-prev">
        <c-icon class="icon text-xl md:text-3.5xl " href="img/icons.svg#arrow-left-alt"></c-icon>
      </button>
    </div>

    <div class="absolute left-full ml-6 z-[2] top-1/2 -translate-y-1/2 max-xl:hidden">
      <button class="btn btn-icon btn-primary btn-contur md:btn-xl rounded-full cert-slider-next">
        <c-icon class="icon text-xl md:text-3.5xl " href="img/icons.svg#arrow-right-alt"></c-icon>
      </button>
    </div>
  </div>
  <div class="relative mt-14" data-animation="fadeInUp">
    <div class="cert-pagination absolute"></div>
  </div>
</section>
<script>
  new Swiper('.cert-slider>.swiper', {
    slidesPerView: 'auto',
    centeredSlides: true,
    loop: true,
    breakpoints: {
      [1199.98]: {
        centeredSlides: false,

      }
    },
    navigation: {
      prevEl: '.cert-slider-prev',
      nextEl: '.cert-slider-next',
    },
    pagination: {
      el: '.cert-pagination',
      dynamicBullets: true,
      clickable: true
    }
  })
</script>

<!-- Вакансии -->
<section class="vacancy p-section" id="vacancy">
  <div class="title mb-5 sm:mb-10">
    Вакансии
  </div>
  <div class="grid lg:grid-cols-3 gap-4 lg:gap-7">
    <% for(let i = 0; i < 6; i++) { %>
    <div class="vacancy-item border border-default/10">
      <div class="flex items-center gap-5 p-4 sm:p-6">
        <div class="size-16 shrink-0 flex bg-primary rounded-full">
          <c-icon class="icon m-auto text-white text-3.5xl" href="img/icons.svg#user"></c-icon>
        </div>
        <div class="text-lg sm:text-2xl font-alt">
          Главный архитектор
          проекта / ГАП
        </div>
      </div>
      <div class="border-t border-default/10 border-dashed"></div>
      <div class="p-4 sm:p-6">
        <button class="btn btn-default btn-contur rounded-full px-6 gap-1">
          <span class="font-alt">Подробнее</span>
          <c-icon class="icon text-xl" href="img/icons.svg#arrow-right"></c-icon>
        </button>
      </div>
    </div>
    <% } %>
  </div>

</section>

<!-- Контакты -->
<section class="contact p-section" id="contact">
  <div class="title mb-8 sm:mb-10" data-animation="fadeInUp">Контакты</div>

  <div class="grid lg:grid-cols-3 gap-3 sm:gap-7 flex-col">
    <a href="javascript:;" class="contact-item hover-underline" data-animation="fadeInUp" data-scroll="#contact-map">
      <div class="pointer-events-none absolute inset-2 border-default/10 border border-l-dashed border-t-dashed"></div>
      <div class="contact-item-icon">
        <c-icon class="icon" href="img/icons.svg#building"></c-icon>
      </div>
      <div>
        <div class="opacity-60">Наш адрес</div>
        <div class="text-lg sm:text-2xl font-alt">
          ст-ца Динская, <br>
          Красноармейская ул., 29А
        </div>
      </div>
    </a>
    <div class="contact-item " data-animation="fadeInUp">
      <div class="pointer-events-none absolute inset-2 border-default/10 border border-t-dashed border-b-dashed"></div>
      <div class="contact-item-icon">
        <c-icon class="icon" href="img/icons.svg#phone"></c-icon>
      </div>
      <div>
        <a href="javascript:;" class="block hover-underline-wrapper">
          <div class="opacity-60">Приёмная</div>
          <div class="text-lg sm:text-2xl font-alt hover-underline">8 918 000 00 00</div>
        </a>
        <a href="javascript:;" class="block hover-underline-wrapper mt-2">
          <div class="opacity-60">Юридический отдел</div>
          <div class="text-lg sm:text-2xl font-alt hover-underline"> 8 903 449 11 77</div>
        </a>
      </div>
    </div>
    <a href="javascript:;" class="contact-item hover-underline" data-animation="fadeInUp">
      <div class="pointer-events-none absolute inset-2 border-default/10 border border-l-dashed border-r-dashed"></div>
      <div class="contact-item-icon">
        <c-icon class="icon" href="img/icons.svg#email"></c-icon>
      </div>
      <div>
        <div class="opacity-60">Наш e-mail</div>
        <div class="text-lg sm:text-2xl font-alt">info@kapitel-architect.ru</div>
      </div>
    </a>
  </div>
</section>

<section class="pray p-section">
  <div class="pray-block">
    <div class="pray-form">
      <div class="text-3.5xl font-alt">Отправить заявку</div>
      <div class="mt-3 opacity-60">
        Напишите номер телефона, и мы перезвоним –
        это бесплатно!
      </div>
      <label class="block mt-7">
        <div class="text-sm mb-2 font-semibold">Имя</div>
        <input type="text" class="input rounded-lg w-full">
      </label>
      <label class="block mt-7">
        <div class="text-sm mb-2 font-semibold">Телефон для связи</div>
        <input type="tel" placeholder="+7 ( _ _ _ ) _ _ _ - _ _ - _ _" class="input rounded-lg w-full">
      </label>
      <label class="block mt-7">
        <div class="text-sm mb-2 font-semibold">Комментарий</div>
        <textarea class="input rounded-lg w-full min-h-20 max-h-30"></textarea>
      </label>
      <button class="btn btn-default btn-contur px-6 gap-1 rounded-full mt-6">
        <span class="font-alt font-medium">Отправить</span>
      </button>
      <div class="mt-6 text-xs opacity-40">
        Отправляя форму, Вы даете согласие на обработку Ваших <br class="max-sm:hidden">
        персональных данных
      </div>
    </div>
    <div class="pray-image ratio ratio-1/1">
      <img src="img/pray.jpg" alt="" class="absolute-fit object-cover">
    </div>
  </div>
</section>

<div class="map" id="contact-map"></div>

<footer class="footer">
  <div class="footer-logo">
    <img src="img/logo-white.png" alt="">
  </div>
  <div class="footer-c">© ООО «Капитель» 2024</div>
  <a target="_blank" href="https://stdkit.ru" class="footer-dev hover-underline relative">
    Разработка: Студия К.И.Т
    <div class="absolute -inset-5"></div>
  </a>
</footer>

<script>
  Fancybox.modal.open('dialog-error.html')
</script>

<%= require('./html-includes/footer.html')() %>